.markercluster-list{
    position: absolute;
    left: 20;
    right: 20;
    top: 20;
    z-index: 9999;
    background-color: lightgrey;
    color: black;
    overflow-y: auto;
    max-height: 200px;
}

.markercluster-list > table {
    width: 100%;
    padding: 5
}

.markercluster-list > table > tbody > tr > td{
    padding: 5
}

.markercluster-list > table > tbody > tr.cluster-list-row-even{
    background-color: grey;
}